/* Overall Container */
#game {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 60px auto;
}


/* Top Bar */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: grid;
    grid-template-columns: auto 100px;
    background: rgb(var(--bg-90), 0.75);
    backdrop-filter: blur(40px);
}

#topbar div.title {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    padding: 0 20px;
}


#topbar div.exit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#exit-game-btn {
    border: none;
    font-size: 20px;
    color: red;
}





/* backdrop Page */
#game div.backdrop {
    padding: 20px;
    /* overflow-y: auto; */
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(var(--fg-50), 0.3);
}

#game div.game-frame {
    max-width: 800px;
    border-radius: 8px;
    background: rgb(var(--bg-90));
    border: 1px solid rgb(var(--fg-50), 0.3);
    margin: auto;
}

#room-options {
    border-bottom: 1px solid rgb(var(--fg-50), 0.3);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}



#room-options div.room-box {
    height: 42px;
    padding: 0 6px;
    background: rgb(var(--bg-90));
    border: 1px solid rgb(var(--fg-50), 0.5);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#room-options div.room-box div.room-id-text {
    margin: 0 10px 0 5px;
}

#room-options div.room-box button.copy-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: rgb(var(--accent-primary));
    background: rgb(var(--bg-100)); 
}

.game-frame div.splitter {
    display: grid;
    grid-template-columns: auto auto;
}

.game-frame div.splitter div.game-board-wrapper {
    padding: 20px;
    max-width: 340px;
}

.game-frame div.splitter div.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-frame div.splitter div.game-board div.bingo-marker {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 4px;
    column-gap: 4px;
    margin-bottom: 4px;
}

div.bingo-marker div.bingo-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: bold;
}

div.bingo-marker div.bingo-letter.marked {
    color: rgb(var(--accent-primary));
    border: 1px solid rgb(var(--accent-primary));
    background: rgb(var(--accent-primary), 0.1);
}

#bingo-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 4px;
    row-gap: 4px;
}

#bingo-grid button.grid-btn {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    border: 1px solid rgb(var(--fg-50), 0.3);
    background: rgb(var(--bg-100));
    font-size: 19px;
    pointer-events: none;
}

.game-board-wrapper.my-turn #bingo-grid button.grid-btn {
    pointer-events: initial;
}

#bingo-grid button.grid-btn.marked {
    color: white;
    background: rgb(var(--accent-primary));
}




#turn-indicator {
    border: 1px solid rgb(var(--fg-50), 0.3);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background: rgb(var(--bg-100));
}

.game-board-wrapper.my-turn #turn-indicator {
    border: 1px solid rgb(var(--accent-primary));
}

#turn-indicator div.player-indicator {
    font-size: 20px;
    font-weight: bold;
}

.game-board-wrapper.my-turn #turn-indicator div.player-indicator{
    color: rgb(var(--accent-primary));
}

#turn-indicator div.directions {
    margin: 5px 0;
}












#game div.backdrop div.splitter div.marked-wrapper {
    padding: 20px;
    overflow-y: auto;
    width: 300px;
    height: 0;
    min-height: 100%;
}

#game div.backdrop div.splitter div.marked-wrapper div.title {
    font-size: 20px;
    font-weight: bold;
}

div.marked-wrapper div.no-markings {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(var(--bg-100), 0.9);
    border-radius: 8px;
}

div.marked-wrapper ul {
    list-style-type: none;
    margin-top: 12px;
}

div.marked-wrapper li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    border: 1px solid rgb(var(--fg-50), 0.3);
    background: rgb(var(--bg-100));
    border-radius: 6px;
    padding: 8px;
    justify-content: space-between;
}

div.marked-wrapper li .player-name {
    font-size: 18px;
}

div.marked-wrapper li .number {
    border: 1px solid rgb(var(--fg-50), 0.3);
    background: rgb(var(--bg-100));
    height: 36px;
    width: 36px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}