
div.game-frame {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 690px;
    margin: auto;
    position: absolute;
    top: 0;
    opacity: 0;
}

div.game-frame.active {
    opacity: 1;
}

div.game-frame.transitioning {
    transition: opacity 150ms ease-out, left 300ms ease-out;
}




.game-frame div.splitter {
    display: grid;
    grid-template-columns: auto auto;
}

.game-frame div.splitter div.game-board-wrapper {
    padding: 20px;
}

.game-frame div.splitter div.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-frame div.splitter div.game-board div.bingo-marker {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 4px;
    column-gap: 4px;
    margin-bottom: 4px;
}

div.bingo-marker div.bingo-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
}

div.bingo-marker div.bingo-letter.marked {
    color: rgb(var(--accent-primary));
    border: 1px solid rgb(var(--accent-primary));
    background: rgb(var(--accent-primary), 0.1);
}



#bingo-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 4px;
    row-gap: 4px;
}

#bingo-grid button.grid-btn {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: 1px solid rgb(var(--fg-50), 0.3);
    background: rgb(var(--bg-100));
    font-size: 19px;
    pointer-events: none;
    transition: border 100ms linear, transform 50ms linear;
}

#bingo-grid button.grid-btn:hover {
    border: 2px solid rgb(var(--accent-primary));
}

#bingo-grid button.grid-btn:focus {
    border: 2px solid rgb(var(--accent-primary));
}

#bingo-grid button.grid-btn:active {
    transform: scale(0.92);
}

.game-board-wrapper.my-turn #bingo-grid button.grid-btn {
    pointer-events: initial;
}

#bingo-grid button.grid-btn.marked, #bingo-grid button.grid-btn.temp-marked {
    color: white;
    background: rgb(var(--accent-primary));
}

#bingo-grid button.grid-btn.marked:hover {
    border: 1px solid rgb(var(--fg-50), 0.3);
}

#bingo-grid button.grid-btn.marked:focus {
    border: 1px solid rgb(var(--fg-50), 0.3);
}

#bingo-grid button.grid-btn.marked:active {
    transform: none;
}


@media screen and (max-width: 690px) {

    div.game-frame {
        height: calc(100dvh - 60px);
        border-radius: 0;
        width: 100vw;
    }
    
    .game-frame div.splitter {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        overflow-y: auto;
        overflow-x: hidden;
    }

    div.game-board-wrapper {
        width: 100vw;
    }
}