@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

button {
  color: var(--fg);
}

button.primary-btn {
  border: 1px solid rgb(var(--fg-50), 0.3);
  border-radius: 6px;
  background: rgb(var(--accent-primary));
  color: white;
  font-size: 16px;
  min-height: 30px;
  padding: 0 10px;
  transition: box-shadow 200ms linear, transform 50ms linear, filter 50ms linear;
}

button.primary-btn:hover {
  filter: brightness(1.15);
}

button.primary-btn:focus {
  box-shadow: 0 0 0 4px rgb(var(--accent-primary), 0.4);
}

button.primary-btn:active {
  filter: brightness(0.9);
  transform: scale(0.95);
}

button.sec-btn {
  border: 1px solid rgb(var(--fg-50), 0.5);
  border-radius: 6px;
  background: rgb(var(--bg-100));
  font-size: 16px;
  min-height: 30px;
  padding: 0 10px;
  transition: box-shadow 200ms linear, transform 50ms linear, filter 50ms linear;
}

button.sec-btn:hover {
  border: 2px solid rgb(var(--accent-primary));
}

button.sec-btn:focus {
  border: 2px solid rgb(var(--accent-primary));
  box-shadow: 0 0 0 4px rgb(var(--accent-primary), 0.4);
}

button.sec-btn:active {
  transform: scale(0.95);
}

button.primary-btn:disabled, button.sec-btn:disabled {
  filter: saturate(0.5);
  transform: none;
}


:root {

  --accent-primary: 0, 132, 255;
  --red: 255, 59, 48;
  --yellow: 255, 204, 0;
  --green: 52, 199, 89;

  --fg-100: 0, 0, 0;
  --fg-90: 10, 10, 10;
  --fg-85: 15, 15, 15;
  --fg-80: 20, 20, 20;
  --fg-75: 30, 30, 30;
  --fg-70: 40, 40, 40;
  --fg-60: 50, 50, 50;
  --fg-50: 60, 60, 60;
  --fg-40: 75, 75, 75;
  --fg-30: 90, 90, 90;
  --fg-20: 100, 100, 100;
  --fg-10: 110, 110, 110;
  --fg-0: 120, 120, 120;

  --bg-100: 255, 255, 255;
  --bg-90: 245, 245, 245;
  --bg-85: 240, 240, 240;
  --bg-80: 230, 230, 230;
  --bg-75: 220, 220, 220;
  --bg-70: 210, 210, 210;
  --bg-60: 200, 200, 200;
  --bg-50: 190, 190, 190;
  --bg-40: 180, 180, 180;
  --bg-30: 170, 170, 170;
  --bg-20: 155, 155, 155;
  --bg-10: 145, 145, 145;
  --bg-0: 135, 135, 135;


  --filter-accent-blue: invert(44%) sepia(44%) saturate(7500%) hue-rotate(195deg) brightness(102%) contrast(103%);
  --filter-mid-grey: invert(56%) sepia(0%) saturate(127%) hue-rotate(179deg) brightness(102%) contrast(86%);
  --filter-light-grey: invert(84%) sepia(0%) saturate(496%) hue-rotate(154deg) brightness(82%) contrast(90%);
  --filter-white: invert(100%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, Inter, Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

input[type=text] {
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
  border: 1px solid rgb(var(--fg-50), 0.3);
  border-radius: 9px;
}

input[type=text]:hover {
  border: 2px solid rgb(var(--accent-primary));
}

input[type=text]:focus {
  outline: none;
  border: 2px solid rgb(var(--accent-primary));
  box-shadow: 0 0 0 4px rgb(var(--accent-primary), 0.4);
}

.default-cursor {
  cursor: default;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(var(--bg-80));
  overflow: hidden;
}

#backdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#interaction-panel {
  background: rgb(var(--bg-90));
  border-radius: 24px;
  border: 1px solid rgb(var(--fg-50), 0.3);
  position: relative;
  overflow: hidden;
  transition: height 300ms ease-out, width 300ms ease-out;
}

#interaction-panel.bounce-in {
  animation: bounce-in-animation 1s ease 1;
}

#toasts-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 300px;
  max-width: 33vw;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}

#toasts-container .toast:nth-last-child(1) {
  pointer-events: all;
  opacity: 1;
}

#toasts-container .toast:nth-last-child(2) {
  pointer-events: none;
  opacity: 0.66;
}

#toasts-container .toast:nth-last-child(3) {
  pointer-events: none;
  opacity: 0.33;
  user-select: none;
}

#toasts-container .toast:nth-last-child(4) {
  pointer-events: none;
  opacity: 0;
  user-select: none;
}

@keyframes bounce-in-animation {
  0% {
      opacity: 0;
      transform: scale(.5);
  }

  50% {
      opacity: 1;
      transform: scale(1.05);
  }

  70% {
      transform: scale(.95);
  }

  100% {
      transform: scale(1);
  }
}


@media screen and (max-width: 690px) {
  
  #backdrop:has(.game-frame.active) {
    flex: initial;
    background: rgb(var(--bg-90));
  }
  
  #interaction-panel:has(.game-frame.active) {
    border: none;
    border-radius: 0;
  }

  #toasts-container {
    min-width: none;
    max-width: none;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  #splash {
    transform: scale(0.65);
  }
}