#lobby {
    width: 540px;
    display: flex;
    flex-direction: column;
    padding: 14px;
    position: absolute;
    top: 0;
    opacity: 0;
  }

  #lobby.active {
    opacity: 1;
  }
  
  #lobby.transitioning {
    transition: opacity 150ms ease-out, left 300ms ease-out;
  }
  
  
  
  /* Hero */
  
  #hero {
    border: 1px solid rgb(var(--fg-50), 0.3);
    height: 200px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 10px;

    background-position: center;
    background-size: cover;
  }
  
  
  
  
  /* Name Section  */
  #name-section {
    background: rgb(var(--bg-100));
    padding: 14px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid rgb(var(--fg-50), 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
  }
  
  #name-section label {
    font-size: 20px;
    font-weight: bold;
    width: 100px;
  }
  
  #name-input {
    width: calc(100% - 80px);
  }
  
  
  
  
  /*Tab Slider*/
  #tab-slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  #tab-slider {
    height: 36px;
    width: 209px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(var(--fg-50), 0.3);
    background: rgb(var(--bg-100));
  }
  
  #tab-slider button.tab-option {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background: none;
    font-size: 16px;
    color: rgb(var(--accent-primary));
    cursor: pointer;
    transition: 200ms ease ;
  }
  
  #tab-slider button.tab-option:hover {
    background: rgb(var(--accent-primary), 0.1);
  }
  
  #tab-slider button.tab-option.active {
    background: rgb(var(--accent-primary));
    color: white;
  }
  
  
  
  
  
  /* Create Room Section */
  #create-room-section {
    background: rgb(var(--bg-100));
    width: 100%;
    border-radius: 16px;
    border: 1px solid rgb(var(--fg-50), 0.3);
  }
  
  #create-room-form {
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
  }

  #create-room-form label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 100px;
  }
  
  #limit-box {
    display: flex;
    flex-direction: row;
  }
  
  #limit-box button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
    background: rgb(var(--accent-primary));
    border: 1px solid rgb(var(--fg-90), 0.3);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #limit-box button:disabled{
    background: rgb(var(--bg-90));
    color: black;
  }
  
  #limit-box div.limit {
    width: 60px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid rgb(var(--fg-90), 0.3);
    border-radius: 15px;
  }

  div.form-btn-grp {
    padding: 14px;
    background: rgb(var(--bg-90));
    border-radius: 0 0 16px 16px;
    border-top: 1px solid rgb(var(--fg-90), 0.3);
    display: flex;
    justify-content: right;
  }


  
  /* Join Room Section  */
  
  #join-room-section {
    background: rgb(var(--bg-100));
    width: 100%;
    border-radius: 16px;
    border: 1px solid rgb(var(--fg-50), 0.3);
    display: flex;
    flex-direction: column;
  }
  
  #join-room-form {
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #join-room-form label {
    font-size: 20px;
    font-weight: bold;
    width: 140px;
  }
  
  #room-input {
    width: calc(100% - 140px);
  }
  

  /* Media Queries */
  @media screen and (max-width: 620px) {

    #lobby {
      width: 90vw;
    }

    #hero {
      height: 150px;
    }

    #name-section {
      flex-direction: column;
      align-items: start;
    }

    #name-section label {
      margin-bottom: 10px;
    }

    #name-input {
      width: 100%;
    }
  }