
/* Top Bar */
#headerstrip {
    height: 60px;
    margin-top: -62px;
    display: grid;
    grid-template-columns: auto 100px;
    background: rgb(var(--bg-90));
    backdrop-filter: blur(40px);
    transition: margin-top 300ms ease-out;
    pointer-events: none;
    border-bottom: 1px solid rgb(var(--fg-90), 0.3);
}

#headerstrip.visible {
    margin-top: 0;
    pointer-events: initial;
}

#headerstrip a.title {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#headerstrip a.title img {
    height: 36px;
}


#headerstrip div.exit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#exit-game-btn {
    border: none;
    font-size: 20px;
    color: red;
    background: transparent;
    cursor: pointer;
    padding: 5px 10px;
}


@media screen and (max-width: 690px) {
    #headerstrip {
        border-bottom: none;
    }
}