.toast {
    background: rgb(var(--bg-100), 0.5);
    backdrop-filter: blur(10px);
    padding: 6px 10px;
    margin: 0 10px 10px 10px;
    border-radius: 12px;
    border: 1px solid rgb(150, 150, 150, 0.5);
    border-top: 1px solid rgb(150, 150, 150, 0.3);
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
    transition: 300ms ease;
    transform-origin: right;
}


.toast.entry-point {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    transform: scale(0) translateX(30px);
}

.toast.removed {
    opacity: 0 !important;
    transform: scale(0.4) translateX(30px);
}
.toast .message {
    cursor: default;
}

.toast .btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}

.btn-container button.primary-btn {
    min-height: 24px;
    font-size: 14px;
}
@media screen and (max-width: 690px) {
    .toast {
        transform-origin: center;
        color: #fff;
        background: rgb(140, 140, 140, 0.8);
        margin: 0 20px 10px 20px;
    }
    .toast.entry-point {
        transform: scale(0) translateY(30px);
    }
    .toast.removed {
        transform: scale(0.4) translateY(-30px);
    }
}